.imgUpPrevew{
    width: 150px;
    margin-inline-end: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 102px;
    text-align: center;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper, :where(.css-dev-only-do-not-override-pr0fja).ant-upload-wrapper.ant-upload-picture-circle-wrapper {
    display: inline-block;
    /* /* width: 100%; */
}