/*  
.nav-head{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 200;

}
  
  */


  /* Header styles */
.nav-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    /* background-color: #333;  */
    /* Màu nền của header */
    /* color: #fff;  */
    /* padding: 15px;  */
}

