.banner-container {
  position: relative;
  height: 100vh; /* Sử dụng chiều cao của viewport thay vì kích thước cố định */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Sử dụng chiều cao của viewport thay vì kích thước cố định */
  background: linear-gradient(to top, #143b36 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1; 
}

